name: Release
on:
  push:
    tags:
      - "*"

jobs:
  build:
    uses: ./.github/workflows/build.yml
    
  release:
    name: Create Release
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
      - uses: softprops/action-gh-release@v2
        with:
          files: |
            artifacts/redist/houdini.zip
            artifacts/redist/comfy.zip
            artifacts/redist/houdini-comfyui-connection-beta-${{github.ref_name}}.zip
